<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>YelpCamp</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse form-inline" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/campgrounds"> Home <span class="sr-only">(current)</span></a>
            </li>
            <% if(!currentUser) { %>
              <li class="nav-item">
                <a class="nav-link" href="/login"> Log in</a>
              </li>      
              <li class="nav-item">
                <a class="nav-link" href="/register"> Sign in</a>
              </li>

            <% } else { %>
              <li class="nav-item">
                <a href="#" class="nav-link active">Signed in As <%= currentUser.username%></a>
              </li>  
            <li class="nav-item">
              <a class="nav-link" href="/logout"> Log out</a>
            </li>
          <% } %>
      
          </ul>
      
        </div>
      </nav>