<%- include("../partials/header") %>
<div class="container">

    
    <h1>Edit comment</h1>
        <div class="row">
        
        <div style="width: 30%; margin: 0 auto;">
            <form action="/campgrounds/<%= campground_id%>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <input style="margin: 5% 0;"class="form-control" type="text" name="comment[text]" value="<%= comment.text %> ">
                <button class="btn btn-lg btn-primary">Submit!</button>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
        
    </div>
</div>
<%- include("../partials/footer") %>