<%- include("partials/header") %>

<h1>Log In</h1>

<p>Welcome to YelpCamp</p>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
</form>

<%- include("partials/footer") %>
