<%- include("partials/header") %>

<h1>Sing Up!</h1>

<p>Welcome to YelpCamp</p>
<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sing Up</button>
</form>

<%- include("partials/footer") %>