<%- include("../partials/header") %>
<div class="container">

    
    <h1>Edit <%= campground.name %></h1>
        <div class="row">
        
        <div style="width: 30%; margin: 0 auto;">
            <form action="/campgrounds/<%= campground._id %>/?_method=PUT" method="POST">
                <input style="margin: 5% 0;"class="form-control" type="text" name="campground[name]" value="<%= campground.name %>">
                <input style="margin: 5% 0;"class="form-control" type="text" name="campground[description]" value="<%= campground.description %>">
                <input style="margin: 5% 0;"class="form-control" type="text" name="campground[image]" value="<%= campground.image %>">
                <button class="btn btn-lg btn-primary">Submit!</button>
            </form>

        </div>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>
<%- include("../partials/footer") %>