<%- include("../partials/header") %>

<!-- <h4><%= currentUser %> </h4> -->

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>This is the campgrounds page</h1>
      <p>View our hand-picked campgrounds</p>
      
      <p>
        <a class="btn btn-primary" href="/campgrounds/new">Add a new campground</a>
  
      </p>

    </div>
  </header>
  
  <div class="row">
    
    <% campgrounds.forEach(campground => { %>
      <div class="col-sm-6 col-md-3">
        <div class="card" >
          <img src="<%= campground.image %>" alt="" class="img-thumbnail">
          <div class="card-body">
            <h5 class="card-title"><%= campground.name %></h5>
            <!-- <p class="card-text"><%= campground.description %></p> -->
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
          </div>
        </div>

      </div>  



    <% }) %>

  </div>
</div>

<%- include("../partials/footer") %>