<%- include("../partials/header") %>
<div class="container">

    
    <h1>Create a new Campground</h1>
        <div class="row">
        
        <div style="width: 30%; margin: 0 auto;">
            <form action="/campgrounds" method="POST">
                <input style="margin: 5% 0;"class="form-control" type="text" name="name" placeholder="name">
                <input style="margin: 5% 0;"class="form-control" type="text" name="description" placeholder="descrition">
                <input style="margin: 5% 0;"class="form-control" type="text" name="image" placeholder="img url">
                <button class="btn btn-lg btn-primary">Submit!</button>
            </form>

        </div>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>
<%- include("../partials/footer") %>