<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">
                <div class="list-group">
                    <div class="list-group-item active">Info 1</div>
                    <div class="list-group-item">Info 2</div>
                    <div class="list-group-item">Info 3</div>
                </div>
            </p>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img src="<%= campground.image %>" alt="" class="img-thumbnail">
                <div class="card-body">
                  <h4 class="card-title pull-left"><%= campground.name %></h4>
                  <p class="card-text"><%= campground.description %></p>
                  <p class="card-text"> <em> Creado por <%= campground.author.username %></em></p>

                  <% if(currentUser && campground.author.id.equals(currentUser._id)){ %> 
                    <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning">Edit campground</a>
                    <form class="delete-form" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
                 <% } %> 
                </div>
                
            </div>
            <div class="card bg-light mt-4">
                <div class="card-header">
                    <a class="btn btn-info text-right" href="/campgrounds/<%= campground._id %>/comments/new">Add new comment</a>
                </div>
                <div class="card-body">
                    
                        <% campground.comments.forEach(function(comment){ %>
                            <h5 class="card-title"><%= comment.author.username %></h5>
                            <p class="card-text">
                                 <%= comment.text %>
                            </p>
                            <a class="btn btn-sm btn-warning"
                             href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                             <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger">Delete</button>
                             </form>
                          <% }) %>
                      
                 </div>

                

                
            </div>
        </div>
    </div>
</div>

<a href="/campgrounds">Go Back</a>

<%- include("../partials/footer") %>

